.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    color: honeydew;
}

.dialog a {
    color: honeydew;
    text-decoration: none;
    
}

.dialog a.active {
    color: mediumvioletred;
}
