.nav {
    grid-area: n;
    background-color: rgb(25, 204, 25);
 }
            
 .Nav_list {
     color: rgb(252, 252, 252);
     padding-left: 10px;
     padding-top: 5px;  
 }

.Nav_list a {
     color: rgb(48, 6, 124);
     text-decoration: none;
 }

 .Nav_list a.active {
     color: gold;
 }